  <!-- Row Details  Datatables -->
  <section id="ngx-datatable-row-details">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header" style="float: right;">
            
          </div>
          <div class="card-content">
            <div class="card-body">
                <fieldset class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="ngx-filter-ref">Search:
                                <input id="ngx-MultiPurposeFilter-ref" class="form-control form-control-sm d-inline-block width-200"
                                    type="text" placeholder="Filter the Name column..." (keyup)="filterUpdate($event)" />
                            </label>
                        </div>
                        <div class="col-6" style="float: right;">
                            <button type="button" class="btn btn-primary mr-2" style="float: right;">
                                <span class="d-flex align-items-center">
                                    <i class="ft-plus mr-1"></i>
                                    <span><a routerLink="/projectNew" style="color: white">New Project</a></span>
                                </span>
                            </button>
                        </div>
                    </div>

                  </fieldset>
              <!-- ngx-datatable-row-details -->
              <ngx-datatable #tableRowDetails prop="full_name" class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
                [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [rows]="rows" [scrollbarH]="true">
                <!-- Row Detail Template -->
                <ngx-datatable-row-detail [rowHeight]="50">
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div class="ml-5 my-1">
                      <div><strong>City : </strong> {{ row.city }}</div>
                      <div><strong>Experience :</strong> {{ row.experience }}</div>
                    </div>
                  </ng-template>
                </ngx-datatable-row-detail>
                <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                  [canAutoResize]="false">
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                      [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                      (click)="rowDetailsToggleExpand(row)">
                    </a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Name" prop="full_name" [width]="200">
                  <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div *ngIf="row.avatar.length > 0; else customAvatar">
                        <img class="rounded-circle mr-1" src="assets/img/portrait/small/{{row.avatar}}"
                          height="32" width="32" alt="datatable-avatar">
                      </div>
                      <ng-template #customAvatar>
                        <div class="avatar mr-1 ml-0"
                          [ngClass]="{'bg-primary': row.status == '1', 'bg-success':row.status == '2', 'bg-danger':row.status == '3' , 'bg-warning':row.status == '4', 'bg-info':row.status == '5'}  ">
                          <div class="avatar-content">{{ name | shortName }}</div>
                        </div>
                      </ng-template>
                      <div class="cell-line-height">
                        <p class="font-medium-1 line-height-1 mb-0">{{ name }}</p>
                        <span class="text-muted font-small-2">
                          {{ row.post }}</span>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email" prop="email" [width]="250"></ngx-datatable-column>
                <ngx-datatable-column name="Age" prop="age" [width]="50"></ngx-datatable-column>
                <ngx-datatable-column name="Salary" prop="salary" [width]="100"></ngx-datatable-column>
                <ngx-datatable-column name="Status" prop="status" [width]="100">
                  <ng-template let-status="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill"
                      [ngClass]="{'bg-light-primary': status == '1', 'bg-light-success':status == '2', 'bg-light-danger':status == '3' , 'bg-light-warning':status == '4' , 'bg-light-info':status == '5'}">
                      {{ status == 1 ? "Current" : (status == 2 ? "Professional" : (status == 3 ? "Rejected" : (status == 4 ? "Resigned" : status == 5 ? "Applied" : "Applied"))) }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" [width]="70">
                  <ng-template ngx-datatable-cell-template>
                    <i class="ft-more-vertical text-primary cursor-pointer mr-2"></i>
                    <i class="ft-edit text-primary cursor-pointer"></i>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              <!-- ngx-datatable-row-details -->
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Row Details  Datatables -->
  

  
  <!-- Multi Purpose Datatables -->
  <section id="ngx-datatable-multi-purpose">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Multi Purpose</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
  
              <!-- ngx-datatable-multi-purpose -->
              <fieldset class="form-group">
                <label for="ngx-filter-ref">Search:
                  <input id="ngx-MultiPurposeFilter-ref" class="form-control form-control-sm d-inline-block width-200"
                    type="text" placeholder="Filter the Name column..." (keyup)="MultiPurposeFilterUpdate($event)" />
                </label>
              </fieldset>
              <ngx-datatable #table class="bootstrap core-bootstrap header-height-50" [columns]="columns"
                [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                [rows]="multiPurposeRows" [scrollbarH]="true">
                
                <ngx-datatable-column name="Name" prop="full_name" [width]="200">
                  <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div *ngIf="row.avatar.length > 0; else customAvatar">
                        <img class="rounded-circle mr-1" src="assets/img/portrait/small/{{row.avatar}}"
                          height="32" width="32" alt="datatable-avatar">
                      </div>
                      <ng-template #customAvatar>
                        <div class="avatar mr-1 ml-0"
                          [ngClass]="{'bg-primary': row.status == '1', 'bg-success':row.status == '2', 'bg-danger':row.status == '3' , 'bg-warning':row.status == '4', 'bg-info':row.status == '5'}  ">
                          <div class="avatar-content">{{ name | shortName }}</div>
                        </div>
                      </ng-template>
                      <div class="cell-line-height">
                        <p class="font-medium-1 line-height-1 mb-0">{{ name }}</p>
                        <span class="text-muted font-small-2">
                          {{ row.post }}</span>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email" prop="email" [width]="250"></ngx-datatable-column>
                <ngx-datatable-column name="Age" prop="age" [width]="50"></ngx-datatable-column>
                <ngx-datatable-column name="Status" prop="status" [width]="100">
                  <ng-template let-status="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill"
                      [ngClass]="{'bg-light-primary': status == '1', 'bg-light-success':status == '2', 'bg-light-danger':status == '3' , 'bg-light-warning':status == '4' , 'bg-light-info':status == '5'}">
                      {{ status == 1 ? "Current" : (status == 2 ? "Professional" : (status == 3 ? "Rejected" : (status == 4 ? "Resigned" : status == 5 ? "Applied" : "Applied"))) }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" [width]="70">
                  <ng-template ngx-datatable-cell-template>
                    <i class="ft-more-vertical text-primary cursor-pointer mr-2"></i>
                    <i class="ft-edit text-primary cursor-pointer"></i>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              <!--/ ngx-datatable-multi-purpose -->
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Multi Purpose Datatables -->
  