<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 form-group" >
                            <p>Project detail: {{projectname}} </p>
                        </div>
                    </div>

                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                        <button type="submit" class="btn btn-primary mr-sm-2 mb-1">Place Bid</button>
                    </div>
                </div>
            </div>  
        </div>  
    </div>
</div>  


