<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                        <div class="col-12 form-group">
                                <label for="username">What service do you need?</label>
                                <div class="form-group">
                                    <ng-select [items]="services" bindLabel="name" placeholder="Select service" [(ngModel)]="selectedService">
                                    </ng-select>
                                    <!-- <p class="text-italic font-small-2 mt-1">
                                    Selected service: {{selectedService | json}}
                                    </p> -->
                                </div>
                            </div>
                        <form [formGroup]="generalForm" (ngSubmit)="onGeneralFormSubmit()">
                            <div class="col-12 form-group">
                                <label for="projectname">Project Name</label>
                                <div class="controls">
                                    <input type="text" formControlName="projectname" class="form-control" placeholder="Username"
                                    [ngClass]="{ 'is-invalid': generalFormSubmitted && gf.projectname.invalid, 'is-valid': generalFormSubmitted && !gf.projectname.invalid }"
                                    required>
                                    <div *ngIf="generalFormSubmitted && (gf.projectname.invalid || gf.projectname.errors?.required)"
                                    class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                                    required</div>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                              <label for="projectdescription">Project Description</label>
                              <div class="controls">
                                    <textarea formControlName="projectdescription" class="form-control" class="form-control" style="height: 100px;" [ngClass]="{ 'is-invalid': generalFormSubmitted && gf.projectdescription.invalid, 'is-valid': generalFormSubmitted && !gf.projectdescription.invalid }"
                                    required>
                                    </textarea>
                                <div *ngIf="generalFormSubmitted && (gf.projectdescription.invalid || gf.projectdescription.errors?.required)"
                                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                                  required</div>
                              </div>
                            </div>
                            <div class="col-12 form-group">
                                <fieldset class="form-group">
                                    <div class="custom-file">
                                        <input type="file" multiple class="custom-file-input" id="inputGroupFile01" (change)="selectFiles($event)">
                                        <label class="custom-file-label" for="inputGroupFile01">+ Upload files</label>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="col-12 form-group">
                                <label for="street">What's your project address?</label>
                                <div class="controls">
                                    <input type="text" formControlName="street" class="form-control" placeholder="Street"
                                    [ngClass]="{ 'is-invalid': generalFormSubmitted && gf.street.invalid, 'is-valid': generalFormSubmitted && !gf.street.invalid }"
                                    required>
                                    <div *ngIf="generalFormSubmitted && (gf.street.invalid || gf.street.errors?.required)"
                                    class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                                    required</div>
                                </div>
                            </div>

                            <div class="col-12 form-group">
                                <div class="controls">
                                    <input type="text" formControlName="city" class="form-control" placeholder="City"
                                    [ngClass]="{ 'is-invalid': generalFormSubmitted && gf.city.invalid, 'is-valid': generalFormSubmitted && !gf.city.invalid }"
                                    required>
                                    <div *ngIf="generalFormSubmitted && (gf.city.invalid || gf.city.errors?.required)"
                                    class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                                    required</div>
                                </div>
                            </div>

                            <div class="col-12 form-group">
                                <div class="controls">
                                    <input type="text" formControlName="zipcode" class="form-control" placeholder="Zipcode"
                                    [ngClass]="{ 'is-invalid': generalFormSubmitted && gf.zipcode.invalid, 'is-valid': generalFormSubmitted && !gf.zipcode.invalid }"
                                    required>
                                    <div *ngIf="generalFormSubmitted && (gf.zipcode.invalid || gf.zipcode.errors?.required)"
                                    class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                                    required</div>
                                </div>
                            </div>

                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                              <button type="submit" class="btn btn-primary mr-sm-2 mb-1">Save</button>
                            </div>

                        </form>

                </div>
            </div>  
        </div>  
    </div>
</div>  
